//Comment
/*another comment*/

# Info for the DoubleDisCo_Reg training
Info
{
   modelFile = "keras_frozen.pb"
   inputOp = "x"
   outputOpVec[0] = "Identity"
   outputOpVec[1] = "Identity_2"
   outputCmVec[0] = 4
   outputCmVec[1] = 1
   year = "2016"
   name = "NonIsoMuon_0l_RPV"
   nJetVar = "NNonIsoMuonJets_pt45"
   minNjet = 6 
   maxNjet = 12 
   binEdges[0] = 0.82 
   binEdges[1] = 0.86 
   binEdges[2] = 0.88 
   binEdges[3] = 0.88 
   binEdges[4] = 0.84 
   binEdges[5] = 0.88 
   binEdges[6] = 0.88 
   binEdges[7] = 0.80 
   binEdges[8] = 0.88 
   binEdges[9] = 0.66 
   binEdges[10] = 0.78 
   binEdges[11] = 0.56 
   binEdges[12] = 0.56 
   binEdges[13] = 0.68 
   mvaVar[0] = "JetNonIsoMuons_pt_1_0l" 
   mvaVar[1] = "JetNonIsoMuons_pt_2_0l" 
   mvaVar[2] = "JetNonIsoMuons_pt_3_0l" 
   mvaVar[3] = "JetNonIsoMuons_pt_4_0l" 
   mvaVar[4] = "JetNonIsoMuons_pt_5_0l" 
   mvaVar[5] = "JetNonIsoMuons_pt_6_0l" 
   mvaVar[6] = "JetNonIsoMuons_eta_1_0l" 
   mvaVar[7] = "JetNonIsoMuons_eta_2_0l" 
   mvaVar[8] = "JetNonIsoMuons_eta_3_0l" 
   mvaVar[9] = "JetNonIsoMuons_eta_4_0l" 
   mvaVar[10] = "JetNonIsoMuons_eta_5_0l" 
   mvaVar[11] = "JetNonIsoMuons_eta_6_0l" 
   mvaVar[12] = "JetNonIsoMuons_m_1_0l" 
   mvaVar[13] = "JetNonIsoMuons_m_2_0l" 
   mvaVar[14] = "JetNonIsoMuons_m_3_0l" 
   mvaVar[15] = "JetNonIsoMuons_m_4_0l" 
   mvaVar[16] = "JetNonIsoMuons_m_5_0l" 
   mvaVar[17] = "JetNonIsoMuons_m_6_0l" 
   mvaVar[18] = "JetNonIsoMuons_phi_2_0l" 
   mvaVar[19] = "JetNonIsoMuons_phi_3_0l" 
   mvaVar[20] = "JetNonIsoMuons_phi_4_0l" 
   mvaVar[21] = "JetNonIsoMuons_phi_5_0l" 
   mvaVar[22] = "JetNonIsoMuons_phi_6_0l" 
   mvaVar[23] = "JetNonIsoMuons_flavb_1_0l" 
   mvaVar[24] = "JetNonIsoMuons_flavb_2_0l" 
   mvaVar[25] = "JetNonIsoMuons_flavb_3_0l" 
   mvaVar[26] = "JetNonIsoMuons_flavb_4_0l" 
   mvaVar[27] = "JetNonIsoMuons_flavb_5_0l" 
   mvaVar[28] = "JetNonIsoMuons_flavb_6_0l" 
   mvaVar[29] = "JetNonIsoMuons_flavc_1_0l" 
   mvaVar[30] = "JetNonIsoMuons_flavc_2_0l" 
   mvaVar[31] = "JetNonIsoMuons_flavc_3_0l" 
   mvaVar[32] = "JetNonIsoMuons_flavc_4_0l" 
   mvaVar[33] = "JetNonIsoMuons_flavc_5_0l" 
   mvaVar[34] = "JetNonIsoMuons_flavc_6_0l" 
   mvaVar[35] = "JetNonIsoMuons_flavuds_1_0l" 
   mvaVar[36] = "JetNonIsoMuons_flavuds_2_0l" 
   mvaVar[37] = "JetNonIsoMuons_flavuds_3_0l" 
   mvaVar[38] = "JetNonIsoMuons_flavuds_4_0l" 
   mvaVar[39] = "JetNonIsoMuons_flavuds_5_0l" 
   mvaVar[40] = "JetNonIsoMuons_flavuds_6_0l" 
   mvaVar[41] = "JetNonIsoMuons_flavq_1_0l" 
   mvaVar[42] = "JetNonIsoMuons_flavq_2_0l" 
   mvaVar[43] = "JetNonIsoMuons_flavq_3_0l" 
   mvaVar[44] = "JetNonIsoMuons_flavq_4_0l" 
   mvaVar[45] = "JetNonIsoMuons_flavq_5_0l" 
   mvaVar[46] = "JetNonIsoMuons_flavq_6_0l" 
   mvaVar[47] = "JetNonIsoMuons_flavg_1_0l" 
   mvaVar[48] = "JetNonIsoMuons_flavg_2_0l" 
   mvaVar[49] = "JetNonIsoMuons_flavg_3_0l" 
   mvaVar[50] = "JetNonIsoMuons_flavg_4_0l" 
   mvaVar[51] = "JetNonIsoMuons_flavg_5_0l" 
   mvaVar[52] = "JetNonIsoMuons_flavg_6_0l" 
   mvaVar[53] = "HT_NonIsoMuon_pt45" 
   mvaVar[54] = "NonIsoMuons_fwm2_top6_0l" 
   mvaVar[55] = "NonIsoMuons_fwm3_top6_0l" 
   mvaVar[56] = "NonIsoMuons_fwm4_top6_0l" 
   mvaVar[57] = "NonIsoMuons_fwm5_top6_0l" 
   mvaVar[58] = "NonIsoMuons_jmt_ev0_top6_0l" 
   mvaVar[59] = "NonIsoMuons_jmt_ev1_top6_0l" 
   mvaVar[60] = "NonIsoMuons_jmt_ev2_top6_0l" 
   mvaVar[61] = "Stop1_mass_cm_NonIsoMuon_OldSeed" 
   mvaVar[62] = "Stop1_pt_cm_NonIsoMuon_OldSeed" 
   mvaVar[63] = "Stop1_phi_cm_NonIsoMuon_OldSeed" 
   mvaVar[64] = "Stop1_eta_cm_NonIsoMuon_OldSeed" 
   mvaVar[65] = "Stop2_mass_cm_NonIsoMuon_OldSeed" 
   mvaVar[66] = "Stop2_pt_cm_NonIsoMuon_OldSeed" 
   mvaVar[67] = "Stop2_phi_cm_NonIsoMuon_OldSeed" 
   mvaVar[68] = "Stop2_eta_cm_NonIsoMuon_OldSeed" 
}
